header {
    background-color: #2d303a;
    height: 90px;
    position: fixed;
    width: 100%;
    
}
 
ul {
    text-align: right;
}
li {
    display: inline-block;
    text-transform: uppercase;
}

header:after {
    content: "";
    width: 1020px;
    height: 7px;
    background-color: #323746;
}