@font-face {
    font-family: Lato-Bold;
    src: local("Lato-Bold"),
        url(assets/Lato-Bold.ttf);
    font-weight: bold;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.wrapper {
    width: 1020px;
    margin-left: auto;
    margin-right: auto;

}

header {
    display: flex;
    padding: 0 40px;
    align-items: center;
    height: 89px;
    background-color: #2d303a;
    justify-content: space-between;
    border-bottom-width: 6px;
    border-bottom-style: solid;
    border-bottom-color: #323746;


}

.logo {
    font-size: 25px;
    line-height: 6px;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;

}

.logo a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Lato-Bold";

}

.logo::after {
    content: "*";
    font-size: 25px;
    color: #f06c64;
    font-family: "Lato-Bold";
    margin-left: -6px;

}

        

li {
    display: inline-block;
    font-family: "Lato-Bold";
    font-size: 12px;
    line-height: 6px;
    font-weight: 700;
    text-align: left;
    
}

.navbar #inactive::before {
    content: '.'; 
    margin-left: 15px; 
    margin-right: 15px; 
    color: #494e62;
    font-weight: 900;
    vertical-align: 3px;

}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Lato-Bold";
    text-align: left;
}

#active {
    color: #f06c64;
    font-family: "Lato-Bold";
}